<div class="min-height-100vh bg d-flex justify-content-center">
<div style="margin-top: 10%;">

    <div class="text-center mb-3">
        <a routerLink="/">
            <img src="./../../assets/images/logo.svg" alt="logo" width="200px"/>
          </a>
    </div>
    <h1 class="text-center" style="font-size: 3.5rem;color: rgba(255, 255, 255, 0.6);">
       
        Under Maintenance
        <p class="pt-3"> Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. we&rsquo;ll be back online shortly!</p>
        <!-- <p>&mdash; The Team</p> -->
    </h1>
</div>
</div>