<section class="fridge_banner">
  <div class="w-100 hidden fridge_coinsbox">
    <img src="./../../assets/images/lightCoins.png" alt="" class="coins" />
    <img src="./../../assets/images/darkCoins.png" alt="" class="coins2" />
  </div>
  <div class="fridge_homehdr">
    <div class="container-fluid">
      <div class="d-flex justify-content-between">
        <a routerLink="/">
          <img src="./../../assets/images/logo.svg" alt="logo" />
        </a>
        <div class="">

          <a href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=0x145fad68704371b4ca62a44845b46d12f46137e8"
            target="_blank" class="fridge_yellowoutlinebtn">Buy Fridge</a>

          <button type="button" class="fridge_yellowoutlinebtn ml-2" (click)="launch()">Launch App</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="fridge_bnnerContent text-center m-auto">
      <div class="f46-russo text-white pb-3">THE 'COOLEST' SALES PLATFORM</div>
      <p class="text-white op-6">
        With 'The Fridge', we ensure that liquidity is given the 'Deep Freeze', that investors have 'Fresher'
        investments, and it's only your gains that set 'temperatures rising'!
      </p>
      <div class="fridge_boxAnimantion">
        <div class="fridge_boxAnimantionInner">
          <div class="waves"></div>
          <img src="./../../assets/images/fridge-open.png" class="fridge-open" alt="" />
          <img src="./../../assets/images/fridge-door.png" class="fridge-door" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fridge_about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="fridge_about_box">
          <div class="f40-russo text-center pb-4">Introduction</div>
          <p>2020 was the year of DEFI , Uniswap and Ethereum. Hundred's of innovative Decentralised
            Financial products launched on Ethereum and with that brought new words into the crypto vernacular-
            liquidity pools, rugs and DEX.</p>
          <p>The pace of innovation is very quick in DEFI and solutions to problems around token sales,
            liquidity and locking of liquidity came quick and fast. But these were all focused upon Ethereum and
            Uniswap.
          </p>
          <p>2021 saw gas fees on the Ethereum network become so expensive that projects were forced to
            seek alternative chain solutions to launch or cross chain their platforms. The blockchain to benefit the
            most was Binance Smart Chain (BSC). BSC and it's Uniswap competitor, Pancake Swap have seen huge increases
            in volume but the solutions to provide a safer environment for investors to inject funds into projects has
            yet to follow.
          </p>
          <p>That is why we have built The Fridge. A BSC token sale platform that automatically adds
            liquidity on Pancake Swap and locks that liquidity through it's smart contracts.
          </p>
          <p>More trust, more security, safer investments. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fridge_platform">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center">
        <div class="f40-russo  pb-4 text-yellow">A Platform For Projects and Investors</div>
        <p class="text-white op-6">As the DEFI environment has suffered from various bad actors obtaining
          investor funds illicitly, legitimate projects have suffered as a result of investor paranoia. Project owners
          can now choose to carry out their token sales on The Fridge and reassure investors that raised funds will be
          automatically locked as liquidity.</p>
        <p class="text-white op-6 m-0">Investors can also invest into The Fridge token sales, safe in the knowledge
          that their purchased tokens will have the designated liquidity and therefore a tradable market for an
          extended period, this is one less thing to worry about in the investment decision.</p>
      </div>
    </div>
  </div>
</section>
<section class="fridge_TokenValueUtility">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="f40-russo pb-3">The $FRIDGE Token Value and Utility</div>
        <p class="op-6">Fridge's native token, $FRIDGE, has a number of use cases. By providing several utility cases
          for
          the token, increasing value should be obtained.</p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-4">
        <div class="fridge_box2 text-center">
          <div class="fridge_number">1</div>
          <p>Holders of more than 2000 $FRIDGE will have exclusive access to token sales on the platform for the first 2
            hours from listing. </p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="fridge_box2 text-center">
          <div class="fridge_number">2</div>
          <p>Project owners will have to purchase a particular level of $FRIDGE in order to list their project on the
            sales platform. This value will be a 0.05% of the USD equivalent of $FRIDGE to ensure that the holding
            required won't become unreasonable as the price of $FRIDGE appreciates.</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="fridge_box2 text-center mobile-height-auto">
          <div class="fridge_number">3</div>
          <p>60% of token sales' fees in BNB earned through the platform will be available to earn through our liquidity
            reward staking pool. Stake $FRIDGE/BNB LP tokens and earn BNB!</p>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="fridge_platform">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 text-center circle-animation-box">
        <div class="circle-animation"></div>
        <img src="./../../assets/images/fridge.png" alt="" />

      </div>
      <div class="col-lg-8 text-white">
        <div class="f40-russo pb-3">Presale</div>
        <!-- TODO -->
        <p><span class="op-6">Where else but to launch our token sale but on</span> <a target="_blank"
            href="https://thefridge.finance/" class="text-yellow"> <b> TheFridge.Finance </b></a><span
            class="op-6">token sale platform! Fully
            audited, guaranteed liquidity and locking, and fees paid will be available for token holders to earn
            through
            our staking pool!</span>
        </p>
        <p class="op-6">$FRIDGE tokens will be available through the token sale at 200 $FRIDGE per BNB. </p>
        <p class="op-6">Once the hardcap has been reached or the sale time ends and the softcap has been met, liquidity
          will be added and locked on Pancake Swap automatically through our smart contracts. If the softcap is not met,
          all BNB raised will be reclaimable through the platform</p>
        <p class="op-6">$FRIDGE will be listed at a price of 180 $FRIDGE per BNB on Pancake Swap.</p>

        <p class="op-6">Binance Smart Chain (BSC) Launchpad providing guaranteed liquidity locking</p>

        <p class="op-6">Great token utility with 3 initial benefits</p>

        <p class="op-6">Strong roadmap</p>


        <p class="op-6">Presale 19th
          March 1pm UTC.On <a target="_blank" href="https://thefridge.finance/" class="text-yellow"> TheFridge.Finance
          </a>.</p>

        <p class="y-bold text-yellow"> The Fridge Presale was successfully carried out on our own Sales Platform. </p>
        <p class="y-bold text-yellow"> The Hardcap of 3000 BNB was reached in just a few minutes and liquidity
          automatically locked. </p>

      </div>
    </div>
  </div>
</section>
<section class="fridge_fees">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="f40-russo  pb-4">FEES FOR TOKEN SALES<br />
          ON Fridge PLATFORM</div>
        <p>Fridge charges 2% of BNB raised on the token sale platform
          as long as softcap is met. 60% of this is available through our staking
          pool for token holders. For example, if a project raised 3000 BNB,
          Fridge would earn 60 BNB. 36 BNB would be added into the
          staking pools to be earned by stakers.</p>
        <p class="m-0">The Fridge will also charge 1% of the native token raise.
          For example, if a project is selling 100,000 of their native token on
          the Fridge sales platform, an additional 1000 tokens would be
          transferred to the Fridge deployer wallet.</p>
      </div>
      <div class="col-lg-6">
        <div class="f40-russo pb-4 pb-lg-5">TOKENOMICS</div>
        <div class="row">
          <div class="col-md-6 pb-3">
            <div class="fridge_leftborderBox">
              <p class="m-1">Total Supply</p>
              <div class="f32-display-bold" style="font-size:30px">1,000,000 <span class="f16-display-200">FRIDGE
                  (max)</span></div>
            </div>
          </div>
          <div class="col-md-6 pb-3">
            <div class="fridge_leftborderBox">
              <p class="m-1">PreSale Tokens</p>
              <div class="f32-display-bold">600,000 <span class="f16-display-200">FRIDGE</span></div>
            </div>
          </div>
          <div class="col-md-6 pb-3">
            <div class="fridge_leftborderBox">
              <p class="m-1">Pancake Swap Liquidity Pair</p>
              <div class="f32-display-bold">300,000 <span class="f16-display-200">FRIDGE</span></div>
            </div>
          </div>
          <div class="col-md-6 pb-3">
            <div class="fridge_leftborderBox">
              <p class="m-1">Team Tokens</p>
              <div class="f32-display-bold">75,000 <span class="f16-display-200">FRIDGE</span></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fridge_leftborderBox">
              <p class="m-1">Marketing Tokens</p>
              <div class="f32-display-bold">25,000 <span class="f16-display-200">FRIDGE</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fridge_TokenValueUtility fridge_Assuranceinvestors">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 ">
        <div class="f40-russo pb-3 text-center">Our Assurance to investors</div>
        <ul class="list-unstyled m-0 fridge_AssuranceinvestorsList">
          <li>
            <div class="img">
              <img src="./../../assets/images/checklist.svg" alt="" />
            </div>
            <div class="w-100">
              <div class="f32-russo">Audit</div>
              <p>All our contracts have been audited prior to PreSale.</p>
              <a href="https://solidity.finance/audits/Fridge/" target="_blank" class="fridge_yellowBtn mt-3">Click
                Here</a>
            </div>
          </li>
          <li>
            <div class="img">
              <img src="./../../assets/images/dollar.svg" alt="" />
            </div>
            <div class="w-100">
              <div class="f32-russo">Guaranteed Liquidity Locking</div>
              <p>By hosting our own PreSale on our own platform, liquidity will be 'Frozen'.</p>
            </div>
          </li>
          <li>
            <div class="img">
              <img src="./../../assets/images/team-leader.svg" alt="" />
            </div>
            <div class="w-100">
              <div class="f32-russo">Team</div>
              <p>The Fridge is brought to you by <a target="_blank" href="https://www.codezeros.com/">
                  <b>Codezeros.com </b>
                </a>, one of Asia's leading emerging tech and blockchain companies. We have worked on hundreds of
                projects
                and have over 150
                employees. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="fridge_roadmap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="f40-russo pb-3 text-center">Roadmap</div>
        <ul class="timeline">
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="f16-russo pb-3">March 2021</div>
              <p>Audit</p>
              <p>PreSale on The Fridge Platform</p>
              <p>Listing on Pancake Swap</p>
              <p>Liquidity Locking</p>
              <p>Strategic Marketing Campaign</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="f16-russo pb-3">Quarter 2 2021</div>
              <p>First PreSales scheduled on The Fridge Launchpad (We have 3 lined up already!)</p>
              <p>Opening of Staking pools to earn fees in BNB</p>
              <p>Launch of KYC Portal</p>
              <p>Audit firm partnerships</p>
              <p>Integration with further DEX platforms</p>
              <p>Cross Chain platform launch</p>
              <p>Token Bridge</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="f16-russo pb-3">Quarter 3 2021</div>
              <p>Further PreSales</p>
              <p>Dutch Auction Sales Portal</p>
              <p>Stand Alone Liquidity Lock contracts and App</p>
              <p>NFT Auction Platform</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container-fluid">
    <div class="row flex-row-reverse align-items-center">
      <div class="col-md-6">
        <ul class="list-unstyled m-0 d-flex flex-wrap fridge_social">
          <li><a href="https://bscscan.com/token/0x145fAD68704371b4CA62A44845b46d12F46137e8" target="_blank"><img   src="./../../assets/images/bscan.png" alt="" /></a></li>
          <li><a href=" https://twitter.com/TheFridgeDefi" target="_blank"><img src="./../../assets/images/twitter.png"
                alt="" /></a></li>
          <!-- <li><a href="#" target="_blank"><img src="./../../assets/images/instagram.png" alt="" /></a></li> -->
          <li><a href="https://t.me/TheFridgeFinance" target="_blank"><img src="./../../assets/images/social3.png"
                alt="" /></a></li>
          <li><a href="https://t.me/TheFridgeFinanceNews" target="_blank"><img src="./../../assets/images/social3.png"
                alt="" /></a></li>
          <!-- 
          <li><a href="#" target="_blank"><img src="./../../assets/images/github.png" alt="" /></a></li>
          <li><a href="#" target="_blank"><img src="./../../assets/images/social5.png" alt="" /></a></li> -->
        </ul>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-wrap align-items-center">
          <div class="fridge-copy">© 2021. All Rights Reserved.</div>
          <!-- <a href="#" class="fridge-footer-copy-link">
            Privacy Policy
          </a>
          <a href="#" class="fridge-footer-copy-link">
            Terms and Conditions
          </a> -->
        </div>
      </div>
    </div>
  </div>
</footer>




<!-- Does APY show when staking on platform?

• Our website to support a variety of different wallets + mobile access. Timelines.

• Audit – add it to the link tab on the website

• Add presale results on the website.

• Tokenomics section: Total Supply
1,000,000 FRIDGE – I want this to include the word Max in it

Can token contract address be linked on the website somewhere? Maybe at the bottom of the page where TG links are.

• Update USA google maps location for coderzeros.com (I had told the community I’d ‘let the team know’. -->